:root{
        /* color */
    /* red */
    --color-primary-red:  #E50914;
    --color-btn-hover: #E50914 ;
    --color-btn-active: #BB0A12 ;
    --color-btn-rest: #E50914 ;

    --color-primary-black: #000000 ;
    --color-header-bg: hsla(0, 0%, 0%, 0.7) ;

    --color-gray: #8C8C8C;
    --color-seperator: #222222;
    --color-footer-p: #757575 ;
    --color-sign-in-help: #B3B3B3 ;

    --color-primary-white: #FFFFFF ;

    --color-main-blue: #0071EB ;
    --color-main-orange: #FFA00A ;
    --color-main-green: #5FA53F; 

    --color-facebook: #4267B2 ;

}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background: var(--color-primary-black);
    font-family: "Netflix sans", sans-serif;
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.img-responsive{
    max-width: 100%;
    height: auto;
}
.seperator{
    height: 6px;
    background: var(--color-seperator);
    border: none;
}

/* .........................header styling.................... */

.header{
    background: url(images/netflix-landingpage-img.png) no-repeat center center / cover;
    height: 100vh;
    position: relative;
    min-height: 660px;
}
.header:after{
    content: " ";
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
}
.header > .container{
    max-width: 1600px;
}

/* .........................navbar styling..................... */

.navbar-contents{
    display: flex;
    justify-content: space-between;
    padding: 0 56px;
    padding-top: 28px;
    z-index: 9999999;
}
.navbar-links{
    display: flex;
    text-align: center;
    gap: 32px;
    align-items: center;
}
.navbar-logo{
    z-index: 2;
}
.navbar-links > .language-selector{
    font-family: "Netflix Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--color-primary-white);
    border: 2px solid var(--color-primary-white);
    padding: 10px 18px;
    border-radius: 2px;
    text-decoration: none;
    z-index: 999;
}
.sign-in{
    font-family: "Netflix Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    background: #E50914;
    color: var(--color-primary-white);
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    z-index: 99;
}

/* .......................hero-section styling........................... */
.hero{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.hero-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99999;
    text-align: center;
    padding-block: 60px;
}
.title{
    font-weight: 700 ;
    font-size: 64px;
    line-height: 70px;
    color: var(--color-primary-white);
    max-width: 20ch;
    margin-bottom: 16px;
}
.title-info{
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: var(--color-primary-white);
    margin-bottom: 30px;
}
.sub-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-primary-white);
    margin-bottom: 20px
}
.input-btn{
    display: flex;
    align-items: center;
    text-align: center;
}
.input{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: var(--color-gray);
    width: 520px;
    height: 76px;
    padding: 26px 10px ;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    cursor: pointer;
    outline: none;
}
.btn{
    font-weight: 400 ;
    font-size: 30px;
    line-height: 38px;
    color: var(--color-primary-white);
    text-decoration: none;
    background: var(--color-primary-red);
    padding: 18px 30px;
    text-align: center;
    border-left: none;
    outline: none;
    border-radius: 0 4px 4px 0; 
}
.btn > i{
    font-size: 26px;
    color: var(--color-primary-white);
    margin-left: 14px;
}


/* ......................... section-1 frames styling.................... */

.frames {
    display: flex;
    margin-block: 50px;
    align-items: center;
    gap: 60px;
}
.frame-info{
    width: 50%;
}
.frame-title{
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    color: var(--color-primary-white);
    margin-block: 20px;
}
.frame-img{
    width: 50%;
    position: relative;
    z-index: 99999;
}
.frame-img > .frame-img-main{
    z-index: 2222222;
    position: relative;
}
.frame-img-vid{
    position: absolute;
    height: 217  ;
    width: 68%;
    top: 83px;
    right: 113px;
    z-index: 0;
}
main .container > .frames-seperator{
    max-width: none;
}

/* ....................section-2 frames styling........................... */
.reverse{
    flex-direction: row-reverse;
}
.card{
    position: absolute;
    top: 248px;
    left: 92px;
    padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    background: var(--color-primary-black);
    align-items: center;
    border: 3px solid rgba(255,255,255, 0.25);
    width: 324px;
}
.card-block{
    background: var(--color-primary-black);
    margin-left: 14px;
}
.card-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-primary-white);
    margin-bottom: 2px;
}
.card-download{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-main-blue);
}
.download-icon{
    margin-left: auto;
}

/* ..........................section-3 frames styling.......................... */

.frame-img-mac-pic{
    width: 62%;
    height: 204px;
    top: 29px;
    position: absolute;
    right: 118px;
    z-index: 2222;
} 

/* ....................frequently asked questions styling...................... */

.faq-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block: 80px;

}
.faq-contents > .frame-title{
    margin-bottom: 50px;
}
.faq-contents-bars{
    margin-bottom: 60px;
}
.faq-contents-bar > .title-info{
    margin-bottom: 0;
}
.faq-contents-bar{
    background: #303030;    ;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 22px 20px ;
    gap: 480px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.faq-contents-bar > a > i{
    color: var(--color-primary-white);
    font-size: 20px;
    text-decoration: none;
}

/* ...................footer styling.............................. */

.sign-in_page-header > .container{
    max-width: 1600px;
}
.footer > .container{
    max-width: 900px;
    margin-block:  60px;
}
.footer-contents > .footer-contents-title{
    font-weight: 400;
    font-size: 16px ;
    line-height: 20px;
    color: var(--color-footer-p);
    text-decoration: none;
}

.footer-contents-title > p{
    margin-bottom: 30px;
    transition: all 0.5s ease;
}
.footer-contents > .footer-contents-title > p::after{
    content: "";
    width: 0;
    height: 2px;
    background: var(--color-footer-p);
    display: block;
}
.footer-contents > .footer-contents-title > p:hover::after{
    width: 26%;
}
.footer-info{
    display: flex;
    gap: 120px;
    margin-bottom: 30px;
}
.footer-info-items > a{
    font-weight: 400;
    font-size: 14px ;
    line-height: 16px;
    color: var(--color-footer-p);
    cursor: pointer;
    text-decoration: none;
}
.footer-info-items a > p{
    margin-bottom: 15px;

}
.footer-info-items > a:hover{
    text-decoration: underline;
}

/* .......................Sign-in page Styling .........................*/

.sign-up_page_body{
    background: url(images/netflix-landingpage-img.png) no-repeat center center / cover;
}

.sign-in_page-header:after{
    background: rgba(0,0,0,0.2);
}
.sign-in_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.sign-in_page_contents{
    position: relative;
    z-index: 9999;
    background: rgba(0,0,0,0.7);
    padding: 60px 70px 140px 70px;
    border-radius: 4px;
    margin-bottom: 90px;
}
.sign-in-title{
    font-weight: 700 ;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
    color: var(--color-primary-white);
}
.sign-in_inputs{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 50px;
}
.sign-in_input{
    background: #333333;
    border-radius: 4px;
    border: none;
    padding: 16px 20px;
    font-weight: 400 ;
    font-size: 16px;
    line-height: 20px;
    outline: none;
    color: var(--color-primary-white);
}
.sign-in_btn-container{
    margin-bottom: 30px;
}
.sign-in_btn{
    background: var(--color-btn-hover);
    text-decoration: none;
    padding: 16px 130px;
    text-align: center;
    color: var(--color-primary-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 16px ; 
    width: 100%;
    border-radius: 4px;
}
.sign-in_help{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px ; 
    border-radius: 4px;
    margin-bottom: 56PX;
}
.sign-in_help > a{
    text-decoration: none;
    color: var(--color-sign-in-help);

}
.sign-in_contact_facebook{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 16px;
}
.sign-in_contact_facebook > i{
    font-size: 20px ;
    color: var(--color-facebook);
}
.sign-in_contact_facebook > a{
    font-weight: 500;
    font-size: 14px;
    line-height: 14px ; 
    text-decoration: none;
    cursor: pointer;
    color: var(--color-sign-in-help);
}
.sign-in_contact_signup{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-sign-in-help);
    margin-bottom: 14px;
}
.sign-in_contact_signup > p > a{
    text-decoration: none;
    color: var(--color-primary-white);
}
.sign-in_contact_signup > p > a:hover{
    text-decoration: underline;
}
.sign-in_about{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    max-width: 40ch;
    color: var(--color-sign-in-help);
}  
.sign-in_about > a{
    color: var(--color-main-blue);
    text-decoration: none;
} 
.sign-in_about > a:hover{
    text-decoration: underline;
} 
.sign-up_page-footer{
    background: rgba(0,0,0,0.7);
}
.sign-up_page-footer > .container{
    margin: 0 auto;
}
.sign-up_page-footer > .container > .footer-contents{
    padding: 30px 100px;
}
.sign-up_page-footer .container .footer-contents > .footer-info{
    gap: 150px;
}

/* .......................CSS STYLING ENDS...................... */

/* nav-toggler_show-hide css start */

.nav-toggler_show-hide{
    border:none;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    /* display: none; */
  }
  .nav-toggler_show-hide span{
    border: 0;
    outline: none;
  }
  .nav-toggler_show-hide span:before,
  .nav-toggler_show-hide span:after 
  {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler_show-hide span:before {
    content: '';
    transform: translateY(0px) rotate(90deg);
  }
  .nav-toggler_show-hide span:after {
    content: '';
    transform: translateY(-2px);
  }
  .nav-toggler_show-hide.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler_show-hide.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler_show-hide css ends */

/* ......................Media Queries Starts..........................  */

/* media queries for Ipad & Tablet  */

@media screen and (max-width: 768px ){

}

/* media queries for Mobile  */

@media screen and (max-width: 480px ){

}